:root {
    box-sizing: border-box;
}

#game {
    background-color: blueviolet;
    display: flex;
    height: 500px;
}

.tower {
    border: rgb(20, 136, 9) solid 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height: 100px;
    border: 1px solid #333333;
    flex-grow: 1;
}

#disc1 {
    width: 70%;
    background-color: crimson;
}

#disc2 {
    width: 80%;
    background-color: yellow;
}

#disc3 {
    width: 90%;
    background-color: green;
}

#disc4 {
    width: 100%;
    background-color: blue;
}